@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:wght@300');
@import url('https://fonts.googleapis.com/css?family=Merriweather:wght@700');

.App {
  background-color: #ffffff;
  background-image: url("/tile.png");
  background-position: 150px 150px;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}
h2 {
  font-family: 'Merriweather';
  font-size: 150%;
}
.App.dark-mode {
  background-image: url("/tiledark.png");
}

center#loading {
  margin-top: 400px;
}

.review {
  max-width: 500px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid darkgray;
}

.column {
  background-color: inherit;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.selector {
  background-color: #ffffff;
  font-family: inherit;
  font-size: large;
  min-width: 400px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

button {
  font-family: inherit;
  font-size: large;
  padding: 10px;
  margin: 10px;
  border: 2px solid #181818;
  background-color: #ffffff;
}
button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #181818;
  color: #ffffff;
}
button.dark-mode {
  border: 2px solid #e4e4e4;
}
button.dark-mode:hover {
  background-color: #ffffff;
  color: #181818  ;
}

.dark-mode {
  background-color: #181818;
  color: #e4e4e4;
}

#darkmodeButton {
  margin: 15px;
  position: fixed;
}
#darkmodeButton:hover {
  cursor: pointer;
}